.ver_conversaciones{
  text-align: center;
}


.menu-perfil{
  margin-right: 5%;
}

.menu-notificaciones{
  width: 400px;
}
.notification:hover {
  background-color: hsla(0, 0%, 20%, 0.04);
}

.eliminar_notificacion{
  width: 20pt;
  height: 20pt;
  text-align: center;
  color: red;
  border-radius: 6pt;
  border-style: solid;
  border-width: 1pt;
  border-color: black;
}

.eliminar_notificacion:hover{
  background-color: red;
  color:white;
}

.menu-notificaciones-titulo{
  margin: 1px 0px 10px 20px;
  font-size: 16pt;
  text-align: left;
}

.img-user{
  width: 25pt;
  height: 25pt;
}

.icono{
  width: 25.9998pt;
  height: 33.46pt;
}

.tituloheader{
  font-size: 200%;
}

.menu{
  font-size: 130%;
}

a.fa-inbox {
  position: relative;
  font-size: 30px;
  color: grey;
  cursor: pointer;
}

a.fa-bell-o {
  position: relative;
  font-size: 30px;
  color: grey;
  cursor: pointer;
}
span.fa-comment {
  position: absolute;
  font-size: 0.7em;
  top: -4px;
  color: red;
  right: -4px;
}
span.num {
  position: absolute;
  font-size: 0.4em;
  top: 1px;
  color: #fff;
  right: 2px;
}

.cabecera {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: hsl(226, 59%, 60%);
  margin-bottom: 2vh;
}