.noArchivos{
	text-align: center;
	margin-top: 30pt;
	margin-bottom: 20pt; 
	font-family: inherit;
	font-size: 13pt;
}

.fila_archivo_inicio:hover {
	background-color: hsla(0, 0%, 20%, 0.04);
	cursor: pointer;
}

.titulo_lista_archivos{
	text-align: center;
	padding: 10pt 0pt 10pt 10pt;
}

.img-archivo{
	width:50pt;
	height:50pt;
}
