.is{
	margin-top: 10px;
}

.mensaje{
	color: red;
}

.btn-iniciar-sesion{
 	margin: 20px 0px;
 	object-position: center;
 	align-self: center;
}

.registrarse{
	margin-bottom:20px;
	margin-top:-20px;
}

.registrarse-link{
	margin-bottom: 5px;
}