th,td{
	text-align:center;
}
#scroll{
	overflow:scroll;
	overflow-x: hidden;
	max-height: 300px;
}
.basura , .plus ,{
	font-size:25px;
	color:black;
}
.fa-sort-alpha-down , .fa-sort-alpha-up{
	color: black;
	float:right;
}
.fa-sort-alpha-down:hover{
	font-size: 20px;
}
.fa-sort-alpha-up:hover{
	font-size: 20px;
}

.basura:hover{
	font-size:28px;
	color:red;
}
.plus:hover{
	font-size:28px;
	color:blue;
}
#eliminar , #strike{
	margin-top: 20px;
	margin-left: 60px;
}