.titulo {
	text-align: center;
	font-size: 25pt;
}

.panel-izq {
	background-color: #FFF;
	border-right: solid 1px #AAA;
	padding-bottom: 1vh;
}

#contactos {
	height: 70vh;
	overflow: auto;
	padding-right: 1vh;
}

.contacto {
	padding: 5px;
	margin: 3px 0;
	font-size: 15pt;
	border-radius: 2px;
}

.contacto img {
	margin-right: 15px;
}

.contacto:hover {
	/* Mouse sobre un contacto */
	background-color: #AAA;
}

.seleccionado {
	/* Contacto Seleccionado */
	background-color: #AAA;
}

.panel-der {
	background-color: #FFF;
	border-left: solid 1px #AAA;
}

#chat {
	height: 62vh;
	overflow: auto;
	padding-right: 1vw;
}

.form-enviar {
	padding-top: 1.5vh;
}

.mensaje {
	margin: 10px 0;
	padding: 5px;
	border-radius: 3.5px;
}

.fecha {
	text-align: center;
}

.mensaje-texto {
	margin: 0px;
	padding: 0px;
	font-size: 15pt;
}

.mensaje-hora {
	margin: 0px;
	padding: 0px;
	font-size: 8pt;
}

.mensaje-hora {
	text-align: right;
}

.mio {
	/* Fondo Mensaje propio */
	background-color: #CCC;
	margin-left: 25%;
}

.otro {
	/* Fondo Mensaje del otro */
	background-color: #AAA;
	margin-right: 25%;
}

/* Estilo de la barra */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #F90;	
	background-image:
	-webkit-linear-gradient(
		45deg,
		rgba(255, 255, 255, .2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, .2) 50%,
		rgba(255, 255, 255, .2) 75%,
		transparent 75%,
		transparent
	)
}