.titulo {
	text-align: center;
	font-size: 25pt;
	border-bottom: solid 1.5px #AAA;
}

.panel-izq {
	background-color: #FFF;
	border-right: solid 1px #AAA;
	padding-bottom: 1vh;
}

.img-usuario {
	width: 40pt;
	height: 40pt;
}

#contactos {
	height: 70vh;
    overflow-x: hidden;
	overflow-y: auto;
}

.contacto {
	color: #000;
	padding: 5px;
	margin: 3px 0;
	font-size: 15pt;
	border-radius: 2px;
}

.contacto img {
	margin-right: 15px;
}

.contacto:hover {
	/* Mouse sobre un contacto */
	background-color: #AAD;
}

.seleccionado {
	/* Contacto Seleccionado */
	background-color: #AAF;
}

.panel-der {
	background-color: #FFF;
	border-left: solid 1px #AAA;
}

#chat {
	height: 62vh;
    overflow-x: hidden;
	overflow-y: auto;
	padding-right: 1vw;
}

.form-enviar {
	padding-top: 1.5vh;
}

.fecha {
	text-align: center;
	margin-top: 2vh;
}

.msj {
	margin-top: 2px;
	width: 50%;
	border-radius: 100px;
	padding-bottom: 2px;
	text-align: center;
	margin-top: 2vh;
	padding: 0 20px;
}

.no-leido {
	/* Color de mensaje no leido */
	background-color: #FAA;
}

.visto {
	/* Color de mensaje visto */
	background-color: #AAF;
}

.nuevo {
	/* Color de mensaje nuevo */
	background-color: #FF5;
}

.error {
	/* Color de mensaje error */
	background-color: #FAA;
	width: 70%;
}

.mensaje-texto {
	margin: 0px;
	padding: 0px;
	font-size: 15pt;
}

.mensaje-hora {
	margin: 0px;
	padding: 0px;
	font-size: 8pt;
}

.mensaje-hora {
	text-align: right;
}

.mensaje {
	margin: 10px 0;
	padding: .5vw .4vw .5vw 1vw;
	border-radius: 3.5px;
}

.mio {
	/* Fondo Mensaje propio */
	background-color: #AFA;
	margin-left: 25%;
}

.otro {
	/* Fondo Mensaje del otro */
	background-color: #AAF;
	margin-right: 25%;
}

.link-contacto:link {
	text-decoration: none;
}

.link-contacto:active {
	text-decoration: none;
}

.link-contacto:visited {
	text-decoration: none;
}

.link-contacto:hover {
	text-decoration: none;
}

.notiene {
	text-align: center;
}

.num-msj {
	background-color: #F22;
	color: #FFF;
	display: inline-block;
	font-size: .75em;
	width: 2vw;
	height: 3.3vh;
	text-align: center;
	border-radius: 1vw;
	margin-left: 1.5vw;
}

/* Estilo de la barra */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #F90;	
	background-image:
	-webkit-linear-gradient(
		45deg,
		rgba(255, 255, 255, .2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, .2) 50%,
		rgba(255, 255, 255, .2) 75%,
		transparent 75%,
		transparent
	)
}
