.titulo {
	background: #3f9684;
	color: #FFF;
	padding: 0px 25px 0px 25px;
}

.mensajes {
	background: #3f9684;
	color: #FFF;
	padding: 0px 25px 0px 25px;
	overflow: auto;
	height: 80vh;
}

.entrada {
	background: #3f9684;
	color: #FFF;
	padding: 10px 25px 10px 25px;
	text-align: right;
}

.chat_linea {
    border-bottom: 2px solid #a4c6b5;
    height: 12px;
    text-align: center;
}

.dia {
	background-color: #3f9684;
	padding: 0px 15px 0px 15px;
	font-size: 20px;
}

.msj {
	margin-top: 15px;
	border-radius: 5px;
	padding: 0px 10px 0px 10px;
}

.mio {
	background-color: #f00;
	margin-left: 25%
}

.otro {
	background-color: #0f0;
	margin-right: 25%;
}

.mensaje {
	font-size: 2em;
}

.hora {
	font-size: 1em;
	text-align: right;
	color: #ccc;
}